.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: all 1s linear;
}

.ex-1-square:hover {
    background-color: red;
}
/* -------------------------------------------------- */
.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: all 2s linear;
}

.ex-2-square:active {
    width: 100%;
}
/* -------------------------------------------------- */
.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: all 3s linear;
}

.ex-3-square:hover {
    border-radius: 50%;
}
/* -------------------------------------------------- */
.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: all 3s linear;
}

.ex-4-square:hover {
    opacity: 0;
}
/* -------------------------------------------------- */
.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: all 2s ease;
}

.ex-5-square:hover {
    width: 100px;
    height: 100px;
}

.ex-5-square:active {
    width: 30px;
    height: 30px;
}
/* -------------------------------------------------- */
.ex-6-img {
    width: 500px;
    transition: all 0s ease;
}

.ex-6-img:hover {
    filter: grayscale(100%);
}
/* -------------------------------------------------- */

.ex-7-img {
    width: 500px;
    transition: all 3s ease;
}

.ex-7-img:hover {
    filter: opacity(0.5) saturate(400%);
}
/* -------------------------------------------------- */

.ex-8-img {
    width: 500px;
    transition: all 3s ease;
}

.ex-8-img:hover {
    filter: saturate(50%) sepia(100%);
    border-radius: 20px;
}
/* -------------------------------------------------- */

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
    transition: all 3s ease;
}

.ex-9-img:hover {
    filter: saturate(50%) sepia(100%);
    border-radius: 20px;
    transform: scale(1.2);
}
/* -------------------------------------------------- */
.ex-10-icon {
    font-size: 60px;
    animation-name: ex10;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes ex10 {
    0% {
        transform: rotate(-360deg);
    }
}

/* -------------------------------------------------- */
.ex-11-icon {
    font-size: 60px;
}

.ex-11-icon:hover {
    animation-name: ex11;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes ex11 {
    0% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/* -------------------------------------------------- */

.ex-12-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}

.ex-12-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

.ex-12-button:hover .ex-12-top-white {
    animation-name: ex12top;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes ex12top {
    50% {
        top: -10px;
        left: 60%;
    }
    100% {
        top: -10px;
        left: 10%;
    }
}

.ex-12-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

.ex-12-button:hover .ex-12-bottom-white {
    animation-name: ex12bottom;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes ex12bottom {
    50% {
        bottom: -10px;
        right: 60%;
    }
    100% {
        bottom: -10px;
        right: 20%;
    }
}

/* ----------------------------------------------- */

.ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}

.ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

.ex-13-button:hover .ex-13-top-white {
    animation-name: ex13top;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes ex13top {
    0%{
        top: -10px;
        left: 10%;
    }
    30%{
        top: -10px;
        left: 80%;
    }
    40%{
        top: 50px;
        left: 80%;
    }
    70%{
        top: 50px;
        left: -10%;
    }
    90% {
        top: -10px;
        left: -10%;
    }
    100% {
        top: -10px;
        left: 10%;
    }
}

.ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

.ex-13-button:hover .ex-13-bottom-white {
    animation-name: ex13bottom;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes ex13bottom {
    0% {
        bottom: -10px;
        right: 20%;
    }
    30% {
        bottom: -10px;
        right: 80%;
    }
    40% {
        bottom: 50px;
        right: 80%;
    }
    70% {
        bottom: 50px;
        right: -10%;
    }
    90% {
        bottom: -10px;
        right: -10%;
    }
    100% {
        bottom: -10px;
        right: 20%;
    }
}

/* ciaooo */